{% extends 'base.html' %}
{% block content_title %}
{% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% load static %}



    <div class="container ">
    <div class="container ">
        <div class="columns">
            <div class="column is-two-fifths has-background-grey-light">
                <form class="box has-background-primary">
                    <div class="column">
                        <div class="columns">



        <div class="column is-4">
            <table>

            <img src="{{ user.profile_picture.url }}" alt="Zdjęcie profilowe2" style="width:100px;height:150px">




<div class="file is-small">
  <label class="file-label">
    <input class="file-input" type="file" name="profile_picture">
    <span class="file-cta">
<!--      <span class="file-icon">-->
<!--        <i class="fas fa-upload"></i>-->
<!--      </span>-->
      <span class="file-label">
        Wybierz zdjęcie
      </span>
    </span>
  </label>
</div>

            </table>
        </div>








                        <div class="column">
                    <div class="container ">
                        <table class="table has-background-grey-light">

                            {% for field in form %}
                            <tr>
                                <td>
                                    {{ field.label_tag }}
                                </td>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                            {% endfor %}
<!--<tr>-->
<!--    <td>-->
<!--        <div class="file">-->
<!--            <label class="file-label">-->
<!--                <input class="file-input" type="file" name="resume">-->
<!--                <span class="file-cta">-->
<!--                    <span class="file-icon">-->
<!--                        <i class="fas fa-upload"></i>-->
<!--                    </span>-->
<!--                    <span class="file-label">-->
<!--                        Wybierz zdjęcie-->
<!--                    </span>-->
<!--                </span>-->
<!--            </label>-->
<!--        </div>-->
<!--    </td>-->
<!--</tr>-->

                        </table>
<!--                        <a class="button"  type="submit" name="submit">Zatwierdźdfd zmiany</a>-->
                            <button type="submit" name="submit">Zatwierdź zmiany</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="field">
                <div class="control">
                    <div class="fieldWrapper{% if field.field.required %} required{% endif %}">
                    </div>
                </div>
            </div>
                </form>

        </div>
            <div class="column">
        <figure class="image is-3by2">
        <img src="{% static 'index.jpg' %}" alt="school">
        </figure>
        </div>
        </div>
    </div>
</div>








</form>
{% endblock %}